@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background: #030925;
}

.PassGenerator {
    width: 64%;
    /* max-width: 700px; */
    height: 280px;
    margin: 60px auto;  
    background-color: #0a112c;
    border-radius: 12px;
    padding: 60px;
    box-shadow: inset 0 0 8px #FFFFFF;
}

h1 {
    font-size: 32px;
    color: white;
    font-family: 'Russo One', sans-serif;
}

span {
    color: #58d658;
    font-size: 32px;
    font-family: 'Russo One', sans-serif;
}

.passwordBox {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    margin-top: 36px;
    justify-content: space-between;
    width: 70%;
    /* max-width: 440px; */
    padding: 8px 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

input {
    background: none;
    padding: 10px;
    border-radius: 5px;
    color: #59ff2f;
    outline: none;
    border: none;
    font-size: 20px;
    /* font-family: 'Revalia', sans-serif; */
    flex: 1;
}

.passwordBox i{
    font-size: 32px;
    color: #266d14;
    cursor: pointer;
}

button {
    margin-top: 32px;
    padding: 16px 24px;
    background: #409e40;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Revalia', sans-serif;
}

button:hover {
    background: #62a062;
    cursor: pointer;
    transition: 0.8s;
}

.bottomText {
}

p {
    padding-top: 8px;
    font-size: 20px;
    color: grey;
    margin-top: 100px;
    text-align: center;
    font-family: 'Revalia', sans-serif;
}



@media screen and (max-width: 600px){
    .PassGenerator {
        width: 80%;
        margin: 40px auto;
        padding: 40px;
    }
    .passwordBox {
        padding-inline: 8px;
        justify-content: normal;
        width: 100%;
    }
    input {
        font-size: 16px;
        /* padding: 12px 16px; */
    }
    button{
        padding: 12px 16px;
        font-size: 14px
    }
    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px){
    h1, span {
        font-size: 26px;
    }
    .passwordBox {
        padding: 4px;
    }
    input {
        /* padding: 16px 4px; */
        font-size: 14px;
    }
    button{
        font-size: 10px
    }
}