@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PassGenerator {
    width: 100%;
    max-width: 700px;
    height: 420px;
    margin: 50px auto;  
    background-color: #0a112c;
    border-radius: 12px;
    padding: 60px;
}

h1 {
    font-size: 32px;
    color: white;
    font-family: 'Russo One', sans-serif;
}

p {
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    font-family: 'Revalia', sans-serif;
}

span {
    color: #58d658;
    font-size: 33px;
    font-family: 'Russo One', sans-serif;
}

hr {
    width: 88%;
    margin-top: 8px;
}

.passwordBox {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    margin-top: 24px;
    gap: 16px;
    width: 100%;
    max-width: 440px;
    padding: 4px;
    border-radius: 8px;
}

input {
    background: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #59ff2f;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: 'Revalia', sans-serif;
}

.passwordBox i{
    font-size: 32px;
    color: #59ff2f;
    cursor: pointer;
}

button {
    margin-top: 32px;
    padding: 16px 24px;
    background: #409e40;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Revalia', sans-serif;
}

button:hover {
    background: #62a062;
    cursor: pointer;
    transition: 0.8s;
}

